@mixin transition($selector, $time, $type) {
  transition: $selector $time $type;
  -o-transition: $selector $time $type;
  -moz-transition: $selector $time $type;
  -webkit-transition: $selector $time $type;
}

@mixin text($fz, $fw, $c) {
  font-size: $fz;
  font-weight: $fw;
  color: $c;
}

@mixin box-shadow($s1, $s2, $s3, $s4, $c, $type) {
  @if $type != "" {
    -webkit-box-shadow: $s1 $s2 $s3 $s4 $c $type;
    box-shadow: $s1 $s2 $s3 $s4 $c $type;
  } @else {
    -webkit-box-shadow: $s1 $s2 $s3 $s4 $c;
    box-shadow: $s1 $s2 $s3 $s4 $c;
  }
}

@mixin mediaQuery($size) {
  @if $size >=$sm {
    @media screen and (min-width: $sm) {
      @content;
    }
  } @else if $size>=$md {
    @media screen and (min-width: $md) {
      @content;
    }
  } @else if $size>=$lg {
    @media screen and (min-width: $lg) {
      @content;
    }
  } @else if $size>=$xl {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
}
