// Color
$primary-color: #b61984;
$bg-color: #ffffff;
$heading-color: #191919;
$text-color: #181818;
$btn-color: #ffffff;
$bg-center-color: #dcd1f3;
$footer-text-color: #ffffff;

// Font size
$fz-0: 0.75rem;
$fz-1: 0.8em;
$fz-2: 0.875rem;
$fz-3: 0.9em;
$fz-4: 1rem;
$fz-5: 1.55rem;
$fz-6: 3.15rem;
$fz-7: 3.5rem;
$fz-8: 3.8rem;

// Font Weight
$fw-0: 300;
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

// Spacing
$s-0: 1px;
$s-1: 0.5em;
$s-2: 0.8em;
$s-3: 1em;
$s-4: 2em;
$s-5: 3em;

// Border Radius
$border-radius: 50px;
$border-rounded: 50%;

// Opacity
$o-0: 1;
$o-1: 0.8;
