@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

a:hover, a:focus, a:active {
  color: #b61984 !important;
  background-color: #ffffff !important;
}

h1 {
  font-size: 3.15rem;
  font-weight: 700;
  color: #191919;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5625rem;
  }
}

h3 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #191919;
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 1.55rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #b61984;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 1200px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #181818;
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

html.opened body {
  width: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  position: relative;
}

img {
  width: 100%;
}

button > i {
  color: #b61984;
}

li {
  display: block;
}

.header {
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.header img#logo {
  width: 3rem;
}

.header nav > a > i {
  color: #b61984;
  font-size: 2rem;
}

.header a.dropdown-item {
  position: relative;
}

.header a.dropdown-toggle::after {
  display: none;
}

.header a.dropdown-toggle i {
  position: absolute;
  top: 1.2em;
  right: 3em;
}

.header a.dropdown-toggle[aria-expanded="false"] i::before {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header a.dropdown-toggle[aria-expanded="true"] i::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .dropdown-submenu a.dropdown-toggle i {
  position: absolute;
  top: 1em;
  right: 3.3em;
}

.header .navbar {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0.5em 3em;
}

.header .navbar > a:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 2rem;
}

.header .navbar .nav-item {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.header .navbar .nav-item .dropdown-menu {
  text-align: center;
}

.header .navbar .nav-link {
  line-height: 1.1;
  padding: 1em 2em;
  font-size: 0.875rem;
  font-weight: 600;
  color: #181818;
}

.header .navbar .dropdown-item.dropdown-toggle {
  line-height: 1.1;
  padding: 1em 2em;
  font-size: 0.8em;
  font-weight: 400;
  color: #181818;
}

.header .navbar .dropdown-item {
  line-height: 1.1;
  padding: 1em 2em;
  font-size: 0.75rem;
  font-weight: 400;
  color: #181818;
}

.header .dropdown {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.header .dropdown .dropdown-menu {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  overflow: hidden;
  height: 0;
}

.header .dropdown .dropdown-menu.show {
  height: 100%;
}

.header .social-icon > a {
  margin: 0.8em 0.5em;
}

.header .social-icon > a > i {
  color: #181818;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.header .social-icon > a:hover i {
  color: #b61984;
}

@media screen and (min-width: 1200px) {
  .header {
    overflow: visible;
    background-color: transparent;
  }
  .header #logo {
    display: none;
  }
  .header .navbar {
    display: none;
  }
}

.header.active {
  -webkit-box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  position: fixed;
  background-color: #ffffff;
  padding: 0;
}

.header.activeLG {
  position: fixed;
  background-color: #ffffff;
  height: 4em;
  overflow-x: visible;
}

.header.activeLG .navbar {
  padding: 0;
}

.header__nav.active {
  -webkit-box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  position: fixed;
  background-color: #ffffff;
  padding: 0;
}

.about {
  margin-top: 3em;
  margin-bottom: -5em;
}

@media screen and (min-width: 1200px) {
  .about {
    margin-top: 0;
  }
}

.team .team__list {
  background-color: #dcd1f3;
}

.team .team__list > img {
  margin-top: -3.3em;
}

.team .team__list .team__item {
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  padding: 1em 2em;
  opacity: 0;
}

.team .team__list .team__item .card {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.team .team__list .team__item .card .card-header {
  padding: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.team .team__list .team__item .card .card-header img {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.team .team__list .team__item .card .card-body {
  border-radius: 0 0 10px 10px;
}

.team .team__list .team__item .card .card-body h4 {
  font-size: 0.75rem;
  margin-bottom: 0.8em;
}

.team .team__list .team__item .card:hover, .team .team__list .team__item .card:focus {
  -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.team .team__list .team__item .card:hover .card-header img, .team .team__list .team__item .card:focus .card-header img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.course {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.course .course__item {
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  position: relative;
  background: #ffffff;
  opacity: 0;
  border-radius: 10px;
}

.course .course__item form {
  -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1em 2em;
  margin-top: 2em;
}

.course .course__item form .form__item {
  position: relative;
}

.course .course__item form .form__item input {
  border-radius: 50px;
  padding: 1em 3em;
  margin: 0.8em 0;
}

.course .course__item form .form__item select {
  border-radius: 50px;
  padding: 0 3em;
  margin: 0.8em 0;
}

.course .course__item form .form__item textarea {
  border-radius: 20px;
  padding: 0.5em 3em;
  margin: 0.8em 0;
}

.course .course__item form .form__item i {
  color: #b61984;
  position: absolute;
  top: 50%;
  left: 2em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.course .course__item form .form-group.form__item i {
  color: #b61984;
  position: absolute;
  top: 1.2em;
  left: 1em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.footer {
  margin-top: -5em;
  color: #ffffff;
  position: relative;
}

.footer img {
  margin-top: 0.5em;
}

.footer .container-fluid {
  background: url(../images/footer_background.jpg) center no-repeat;
  background-size: cover;
  padding: 3em 2em;
}

.footer .container-fluid h3 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0.8em 0;
}

.footer .container-fluid ul > li {
  margin: 0.5em 0;
}

.footer .container-fluid a {
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  background: transparent;
}

.footer .container-fluid a > i {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: transparent;
  color: #ffffff;
}

.footer .container-fluid a > i:hover {
  color: #181818;
  background: transparent;
}

.footer .container-fluid a:hover {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.footer .container-fluid .footer__item {
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  opacity: 0;
}

.footer .container-fluid .footer__item:first-child .socialIcon a {
  margin-right: 0.8em;
}

.footer .container-fluid .footer__item:nth-child(2) a,
.footer .container-fluid .footer__item:nth-child(3) a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer .container-fluid .footer__item:last-child form input {
  font-size: 0.8em;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: transparent;
  border-radius: 50px;
  padding: 0.8em 0.5em;
  margin: 0.8em 0;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .container-fluid .footer__item:last-child form input::-webkit-input-placeholder {
  color: #ffffff;
}

.footer .container-fluid .footer__item:last-child form input:-ms-input-placeholder {
  color: #ffffff;
}

.footer .container-fluid .footer__item:last-child form input::-ms-input-placeholder {
  color: #ffffff;
}

.footer .container-fluid .footer__item:last-child form input::placeholder {
  color: #ffffff;
}

.footer .container-fluid .footer__item:last-child form input:focus {
  border: 1px solid white;
}

.footer .container-fluid .footer__item:last-child form input:focus-visible {
  outline: none;
}

.header__nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow-x: hidden;
  transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  padding-top: 60px;
  text-align: center;
}

.header__nav .closebtn {
  position: absolute;
  top: 0;
  left: 90%;
  font-size: 36px;
  margin-left: 50px;
  background-color: #ffffff;
}

.header__nav a,
.header__nav div > ul > li a {
  color: #181818;
}

.header__nav a > i {
  color: #b61984;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.header__nav .myPrimaryBtn {
  width: 13rem;
  padding: 0;
  margin: 0 auto;
}

.header__nav .navbar-nav .dropdown-menu {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header__nav .dropdown-menu.show {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.header__nav .dropdown-menu {
  display: block;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.header__nav__xl a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
  color: #191919;
}

.header__nav__xl a:hover {
  background-color: transparent !important;
}

.header__nav__xl .myNavbar .row {
  margin-left: auto;
}

.header__nav__xl .myNavbar .row .menu.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.header__nav__xl .myNavbar .row .menu {
  padding: 1.5em 0;
  position: relative;
  overflow: visible;
}

.header__nav__xl .myNavbar .row .menu .submenu {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  width: 40em;
  background: #ffffff;
  padding: 1px 1.5em;
  -webkit-box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 4em;
  left: -18em;
}

.header__nav__xl .myNavbar .row .menu .submenu::after {
  content: "";
  background-color: #b61984;
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  top: -1em;
  left: 19.5em;
  border-radius: 50%;
}

.header__nav__xl .myNavbar .row .menu .submenu a {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em 0;
}

.header__nav__xl .myNavbar .row .menu .submenu > div > a:first-child {
  border-top: none;
}

.header__nav__xl .myNavbar .row .menu:nth-child(2) .submenu,
.header__nav__xl .myNavbar .row .menu:nth-child(7) .submenu {
  padding: 1px;
}

.header__nav__xl .myNavbar .row .menu:nth-child(3) .submenu,
.header__nav__xl .myNavbar .row .menu:nth-child(4) .submenu,
.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu,
.header__nav__xl .myNavbar .row .menu:nth-child(6) .submenu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14em;
  top: 4em;
  left: 0;
}

.header__nav__xl .myNavbar .row .menu:nth-child(3) .submenu::after,
.header__nav__xl .myNavbar .row .menu:nth-child(4) .submenu::after,
.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu::after,
.header__nav__xl .myNavbar .row .menu:nth-child(6) .submenu::after {
  left: 1.7em;
}

.header__nav__xl .myNavbar .row .menu:nth-child(3) .submenu > a:first-child,
.header__nav__xl .myNavbar .row .menu:nth-child(4) .submenu > a:first-child,
.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu > a:first-child,
.header__nav__xl .myNavbar .row .menu:nth-child(6) .submenu > a:first-child {
  border-top: none;
}

.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu .btnsubmenu-right-1::after,
.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu .btnsubmenu-right-2::after {
  content: "";
  background-color: #b61984;
  position: absolute;
  display: block;
  width: 0.5em;
  height: 0.5em;
  top: 15.8em;
  right: 2em;
  border-radius: 50%;
}

.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu .btnsubmenu-right-2::after {
  top: 19.5em;
}

.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu .submenu-right-1,
.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu .submenu-right-2 {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 65%;
  right: -14em;
  width: 14em;
  background: #ffffff;
  padding: 1px 1.5em;
  -webkit-box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.2);
}

.header__nav__xl .myNavbar .row .menu:nth-child(5) .submenu .submenu-right-2 {
  top: 82%;
}

.header__nav__xl .myPrimaryBtn {
  padding: 0 0.8em;
  margin-top: 0.5em;
}

.header__nav__xl .social-icon {
  padding-top: 1em;
}

.myBtn, .myPrimaryBtn,
a.myPrimaryBtn,
a.myBtn,
a.myPrimaryBtn {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 3em #fff inset;
  box-shadow: 0 0 0 3em #fff inset;
  color: #181818;
  border-radius: 50px;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: transparent;
  display: block;
  text-decoration: none;
  height: 4em;
  line-height: 4em;
  text-align: center;
  padding: 0 3em;
}

.myBtn:hover, .myPrimaryBtn:hover,
a.myBtn:hover,
a.myPrimaryBtn:hover {
  -webkit-box-shadow: 0 0 0 1px #fff inset;
  box-shadow: 0 0 0 1px #fff inset;
  color: #ffffff;
}

.myBtn i, .myPrimaryBtn i,
a.myBtn i,
a.myPrimaryBtn i {
  color: #181818;
}

.myPrimaryBtn,
a.myPrimaryBtn {
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: #ffffff;
}

.myPrimaryBtn:hover,
a.myPrimaryBtn:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
  box-shadow: 0 0 0 1px #b61984 inset;
}

.myPrimaryBtn:hover i,
a.myPrimaryBtn:hover i {
  color: #b61984;
}

.myPrimaryBtn i,
a.myPrimaryBtn i {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */